<div class="welcome-login-page-container">
  <div class="welcome-login-page-welcome-login-page">
    <img
      src="/assets/playground_assets/container111-w4lm-1000w.png"
      alt="Container111"
      class="welcome-login-page-container1"
    />
    <div class="welcome-login-page-login-bars">
      <span class="welcome-login-page-text"><span>Username</span></span>
      <img
        src="/assets/playground_assets/password221-0zzl-200h.png"
        alt="password221"
        class="welcome-login-page-password"
      />
      <span class="welcome-login-page-text02"><span>Password</span></span>
      <span class="welcome-login-page-text04">
        <span>Forgot Password?</span>
      </span>
      <img
        src="/assets/playground_assets/username223-lzu5-200h.png"
        alt="username223"
        class="welcome-login-page-username"
      />
    </div>
    <button class="welcome-login-page-login-button">
      <img
        src="/assets/playground_assets/loginbutton113-t5w-200h.png"
        alt="LoginButton113"
        class="welcome-login-page-login-button1"
      />
      <span class="welcome-login-page-text06"><span>Login</span></span>
    </button>
    <span class="welcome-login-page-text08"><span>Login</span></span>
    <span class="welcome-login-page-text10"><span>Welcome.</span></span>
  </div>
</div>
