<div class="device-status-container">
  <div class="device-status-device-status">
    <img
      src="/assets/playground_assets/lowerframe2719-ua3.svg"
      alt="lowerframe2719"
      class="device-status-lowerframe"
    />
    <div class="device-status-reconnectthe-device">
      <span class="device-status-text"><span>Reconnect Device(s)</span></span>
      <img
        src="/assets/playground_assets/reconnectdevicemanual7017-ibe3.svg"
        alt="ReconnectDeviceManual7017"
        class="device-status-reconnect-device-manual"
      />
      <span class="device-status-text02"><span>or</span></span>
      <button class="device-status-reconnect-button">
        <img
          src="/assets/playground_assets/buttoni304-haqj-200h.png"
          alt="ButtonI304"
          class="device-status-button"
        />
        <span class="device-status-text04"><span>Reconnect</span></span>
      </button>
      <div class="device-status--ds">
        <div class="device-status-list-box-main">
          <img
            src="/assets/playground_assets/chevroni303-by6.svg"
            alt="ChevronI303"
            class="device-status-chevron"
          />
          <div class="device-status-placeholder-text">
            <span class="device-status-text06">
              <span>Reconnect Device(s)</span>
            </span>
          </div>
        </div>
        <div class="device-status-dropdown-list">
          <div class="device-status-item1">
            <span class="device-status-text08"><span>Businessman</span></span>
          </div>
          <div class="device-status-item2">
            <span class="device-status-text10"><span>Employee</span></span>
          </div>
          <div class="device-status-item3">
            <span class="device-status-text12"><span>Freelancer</span></span>
          </div>
          <div class="device-status-item4">
            <span class="device-status-text14"><span>Retired</span></span>
          </div>
        </div>
        <div class="device-status-list-boxtitle"></div>
      </div>
    </div>
    <div class="device-status-log-status">
      <div class="device-status-delete-log-statuses">
        <div class="device-status-delete-log-statuses1">
          <img
            src="/assets/playground_assets/buttoni304-f34-200h.png"
            alt="ButtonI304"
            class="device-status-button1"
          />
          <span class="device-status-text16">
            <span>Delete Log Statuses</span>
          </span>
        </div>
      </div>
      <div class="device-status-view-log-statuses">
        <div class="device-status-view-log-statuses1">
          <img
            src="/assets/playground_assets/buttoni304-akoa-200h.png"
            alt="ButtonI304"
            class="device-status-button2"
          />
          <span class="device-status-text18">
            <span>View Log Statuses</span>
          </span>
        </div>
      </div>
      <div class="device-status-enter-new-log-status">
        <img
          src="/assets/playground_assets/buttoni304-y87-200h.png"
          alt="ButtonI304"
          class="device-status-button3"
        />
        <span class="device-status-text20">
          <span>Enter New Log Status</span>
        </span>
      </div>
      <span class="device-status-text22"><span>Log Statuses</span></span>
    </div>
    <div class="device-status-menu">
      <img
        src="/assets/playground_assets/rectangle23029-pst.svg"
        alt="Rectangle23029"
        class="device-status-rectangle2"
      />
      <img
        src="/assets/playground_assets/menu3029-bbzd-200h.png"
        alt="Menu3029"
        class="device-status-menu1"
      />
      <span class="device-status-text24"><span>Device Status</span></span>
      <span class="device-status-text26"><span>J. De la Cruz</span></span>
      <div class="device-status-hamburgermenu">
        <img
          src="/assets/playground_assets/line53030-0gml.svg"
          alt="Line53030"
          class="device-status-line5"
        />
        <img
          src="/assets/playground_assets/line43030-4a0l.svg"
          alt="Line43030"
          class="device-status-line4"
        />
        <img
          src="/assets/playground_assets/line33030-k6oo.svg"
          alt="Line33030"
          class="device-status-line3"
        />
      </div>
    </div>
    <img
      src="/assets/playground_assets/divider3034-5rx.svg"
      alt="Divider3034"
      class="device-status-divider"
    />
    <span class="device-status-text28"><span>Device Status :</span></span>
  </div>
</div>
