<div class="access-error-container">
  <div class="access-error-access-error">
    <div class="access-error-contact-admin">
      <img
        src="/assets/playground_assets/contactbutton351-5wxd-200h.png"
        alt="ContactButton351"
        class="access-error-contact-button"
      />
      <span class="access-error-text"><span>Contact Admin</span></span>
    </div>
    <div class="access-error-backto-home">
      <img
        src="/assets/playground_assets/backbutton354-622-200h.png"
        alt="BackButton354"
        class="access-error-back-button"
      />
      <span class="access-error-text2"><span>Back to Home</span></span>
    </div>
    <span class="access-error-text4">
      <span>Administrative Access is needed to proceed.</span>
    </span>
    <span class="access-error-text6"><span>Uh Oh!</span></span>
  </div>
</div>
