<div class="editing-account-pop-up-container">
  <div class="editing-account-pop-up-editing-account-pop-up">
    <img
      src="/assets/playground_assets/registerboxfull1172-pb1-1200w.png"
      alt="RegisterBoxFull1172"
      class="editing-account-pop-up-register-box-full"
    />
    <img
      src="/assets/playground_assets/exitbutton1172-guge.svg"
      alt="exitbutton1172"
      class="editing-account-pop-up-exitbutton"
    />
    <div class="editing-account-pop-up-user-info">
      <div class="editing-account-pop-up-last-name-user-input">
        <div class="editing-account-pop-up-last-name-user-input1">
          <img
            src="/assets/playground_assets/buttoni112-six-200h.png"
            alt="ButtonI112"
            class="editing-account-pop-up-button"
          />
          <span class="editing-account-pop-up-text">
            <span>Last Name of User</span>
          </span>
        </div>
      </div>
      <div class="editing-account-pop-up-first-name-user-input">
        <div class="editing-account-pop-up-first-name-user-input1">
          <img
            src="/assets/playground_assets/buttoni112-t8p-200h.png"
            alt="ButtonI112"
            class="editing-account-pop-up-button1"
          />
          <span class="editing-account-pop-up-text02">
            <span>First Name of User</span>
          </span>
        </div>
      </div>
      <div class="editing-account-pop-up-new-username-input">
        <img
          src="/assets/playground_assets/buttoni112-pxf-200h.png"
          alt="ButtonI112"
          class="editing-account-pop-up-button2"
        />
        <span class="editing-account-pop-up-text04"><span>Name</span></span>
      </div>
      <div class="editing-account-pop-up-email-user-input">
        <div class="editing-account-pop-up-email-user-input1">
          <img
            src="/assets/playground_assets/buttoni112-11vi-200h.png"
            alt="ButtonI112"
            class="editing-account-pop-up-button3"
          />
          <span class="editing-account-pop-up-text06">
            <span>Email of User</span>
          </span>
        </div>
      </div>
      <div class="editing-account-pop-up-employee-i-no-user-input">
        <img
          src="/assets/playground_assets/buttoni112-5w4l-200h.png"
          alt="ButtonI112"
          class="editing-account-pop-up-button4"
        />
        <span class="editing-account-pop-up-text08">
          <span>Employee ID Number of User </span>
        </span>
      </div>
      <img
        src="/assets/playground_assets/usericon1172-nern.svg"
        alt="usericon1172"
        class="editing-account-pop-up-usericon"
      />
    </div>
    <div class="editing-account-pop-up-buttons">
      <button class="editing-account-pop-up-edit-button">
        <img
          src="/assets/playground_assets/buttoni117-fevj-200h.png"
          alt="ButtonI117"
          class="editing-account-pop-up-button5"
        />
        <span class="editing-account-pop-up-text10"><span>Edit</span></span>
      </button>
      <button class="editing-account-pop-up-cancel-button">
        <img
          src="/assets/playground_assets/buttoni112-ty6-200h.png"
          alt="ButtonI112"
          class="editing-account-pop-up-button6"
        />
        <span class="editing-account-pop-up-text12"><span>Cancel</span></span>
      </button>
      <button class="editing-account-pop-up-finish-button">
        <button class="editing-account-pop-up-finish-button1">
          <img
            src="/assets/playground_assets/buttoni112-49xs-200h.png"
            alt="ButtonI112"
            class="editing-account-pop-up-button7"
          />
          <span class="editing-account-pop-up-text14"><span>Finish</span></span>
        </button>
      </button>
    </div>
    <span class="editing-account-pop-up-text16">
      <span>Account Details :</span>
    </span>
  </div>
</div>
