<div class="deleting-accounts-container">
  <div class="deleting-accounts-deleting-accounts">
    <div class="deleting-accounts-user3">
      <div class="deleting-accounts-deletebutton">
        <span class="deleting-accounts-text"><span>Delete Account</span></span>
      </div>
      <img
        src="/assets/playground_assets/userbg31053-dpgs-400h.png"
        alt="userbg31053"
        class="deleting-accounts-userbg3"
      />
      <img
        src="/assets/playground_assets/user31053-h9e-400h.png"
        alt="user31053"
        class="deleting-accounts-user31"
      />
      <span class="deleting-accounts-text02"><span>User 3</span></span>
    </div>
    <div class="deleting-accounts-user2">
      <div class="deleting-accounts-deletebutton1">
        <span class="deleting-accounts-text04">
          <span>Delete Account</span>
        </span>
      </div>
      <img
        src="/assets/playground_assets/userbg21053-monn-400h.png"
        alt="userbg21053"
        class="deleting-accounts-userbg2"
      />
      <img
        src="/assets/playground_assets/user21053-wafr-400h.png"
        alt="user21053"
        class="deleting-accounts-user21"
      />
      <span class="deleting-accounts-text06"><span>User 2</span></span>
    </div>
    <div class="deleting-accounts-user1">
      <div class="deleting-accounts-deletebutton2">
        <span class="deleting-accounts-text08">
          <span>Delete Account</span>
        </span>
      </div>
      <img
        src="/assets/playground_assets/userbg11053-bj4e-400h.png"
        alt="userbg11053"
        class="deleting-accounts-userbg1"
      />
      <img
        src="/assets/playground_assets/user11053-whr-400h.png"
        alt="user11053"
        class="deleting-accounts-user11"
      />
      <span class="deleting-accounts-text10"><span>User 1</span></span>
    </div>
    <div class="deleting-accounts-menu">
      <img
        src="/assets/playground_assets/rectangle27082-aart.svg"
        alt="Rectangle27082"
        class="deleting-accounts-rectangle2"
      />
      <img
        src="/assets/playground_assets/menu7083-rzp-200h.png"
        alt="Menu7083"
        class="deleting-accounts-menu1"
      />
      <span class="deleting-accounts-text12">
        <span>Deleting Accounts</span>
      </span>
      <span class="deleting-accounts-text14"><span>J. Doe</span></span>
      <div class="deleting-accounts-hamburgermenu">
        <img
          src="/assets/playground_assets/line57083-louj.svg"
          alt="Line57083"
          class="deleting-accounts-line5"
        />
        <img
          src="/assets/playground_assets/line47083-3scf.svg"
          alt="Line47083"
          class="deleting-accounts-line4"
        />
        <img
          src="/assets/playground_assets/line37083-22tk.svg"
          alt="Line37083"
          class="deleting-accounts-line3"
        />
      </div>
    </div>
    <img
      src="/assets/playground_assets/sidescroll1092-n7hk.svg"
      alt="sidescroll1092"
      class="deleting-accounts-sidescroll"
    />
  </div>
</div>
