<div class="update-container">
  <div class="update-update">
    <div class="update-menu">
      <img
        src="/assets/playground_assets/lowerframei932-p5m8.svg"
        alt="lowerframeI932"
        class="update-lowerframe"
      />
      <img
        src="/assets/playground_assets/menui932-dzb7-200h.png"
        alt="MenuI932"
        class="update-menu1"
      />
      <span class="update-text"><span>Update</span></span>
      <div class="update-hamburgermenu">
        <img
          src="/assets/playground_assets/line5i932-0za.svg"
          alt="Line5I932"
          class="update-line5"
        />
        <img
          src="/assets/playground_assets/line4i932-8u25.svg"
          alt="Line4I932"
          class="update-line4"
        />
        <img
          src="/assets/playground_assets/line3i932-9n6.svg"
          alt="Line3I932"
          class="update-line3"
        />
      </div>
    </div>
    <span class="update-text02"><span>J. Doe</span></span>
    <span class="update-text04"><span>Update:</span></span>
    <div class="update-updatesystem">
      <img
        src="/assets/playground_assets/updatesystembutton1084-ukd-200h.png"
        alt="updatesystembutton1084"
        class="update-updatesystembutton"
      />
      <span class="update-text06"><span>Update System</span></span>
      <img
        src="/assets/playground_assets/update1084-xdfb-400h.png"
        alt="update1084"
        class="update-update1"
      />
      <img
        src="/assets/playground_assets/updatesystem1083-478r.svg"
        alt="updatesystem1083"
        class="update-updatesystem1"
      />
    </div>
    <div class="update-updatedevices">
      <img
        src="/assets/playground_assets/updatedevicesbutton1084-z5ck-200h.png"
        alt="updatedevicesbutton1084"
        class="update-updatedevicesbutton"
      />
      <span class="update-text08"><span>Update Devices</span></span>
      <img
        src="/assets/playground_assets/update1084-n7ug-400h.png"
        alt="update1084"
        class="update-update2"
      />
      <img
        src="/assets/playground_assets/updatedevices1084-rfj.svg"
        alt="updatedevices1084"
        class="update-updatedevices1"
      />
    </div>
    <img
      src="/assets/playground_assets/divider1084-12wk.svg"
      alt="divider1084"
      class="update-divider"
    />
  </div>
</div>
