<div class="extendedmenuforupdates-container">
  <div class="extendedmenuforupdates-extendedmenuforupdates">
    <div class="extendedmenuforupdates-extendedmenu">
      <img
        src="/assets/playground_assets/pagehighlight1285-3x0l-200h.png"
        alt="Pagehighlight1285"
        class="extendedmenuforupdates-pagehighlight"
      />
      <div class="extendedmenuforupdates-updatebutton">
        <img
          src="/assets/playground_assets/updateiconsm1284-qpr8-200h.png"
          alt="updateiconsm1284"
          class="extendedmenuforupdates-updateiconsm"
        />
        <span class="extendedmenuforupdates-text"><span>Updates</span></span>
      </div>
      <div class="extendedmenuforupdates-statusbutton">
        <span class="extendedmenuforupdates-text02">
          <span>Device Status</span>
        </span>
        <img
          src="/assets/playground_assets/statusiconsm1285-s48a-200h.png"
          alt="statusiconsm1285"
          class="extendedmenuforupdates-statusiconsm"
        />
      </div>
      <div class="extendedmenuforupdates-devicesbutton">
        <img
          src="/assets/playground_assets/devicesiconsm1285-rh9r-200h.png"
          alt="devicesiconsm1285"
          class="extendedmenuforupdates-devicesiconsm"
        />
        <span class="extendedmenuforupdates-text04"><span>Devices</span></span>
      </div>
      <div class="extendedmenuforupdates-accountbutton">
        <img
          src="/assets/playground_assets/accountsiconsm1285-ghbi-200h.png"
          alt="accountsiconsm1285"
          class="extendedmenuforupdates-accountsiconsm"
        />
        <span class="extendedmenuforupdates-text06"><span>Accounts</span></span>
      </div>
      <div class="extendedmenuforupdates-homebutton">
        <img
          src="/assets/playground_assets/homeiconsm1285-2iws-200h.png"
          alt="homeiconsm1285"
          class="extendedmenuforupdates-homeiconsm"
        />
        <span class="extendedmenuforupdates-text08"><span>Home</span></span>
      </div>
      <span class="extendedmenuforupdates-text10"><span>IoTDevices</span></span>
      <div class="extendedmenuforupdates-logout">
        <img
          src="/assets/playground_assets/logoutbuttoni171-8lv-200h.png"
          alt="LogoutButtonI171"
          class="extendedmenuforupdates-logout-button"
        />
        <span class="extendedmenuforupdates-text12"><span>Logout</span></span>
      </div>
    </div>
  </div>
</div>
