<div class="delete-account-pop-up-container">
  <div class="delete-account-pop-up-delete-account-pop-up">
    <div class="delete-account-pop-up-delete-account-pop-up1">
      <button class="delete-account-pop-up-buttons">
        <button class="delete-account-pop-up-no-button">
          <img
            src="/assets/playground_assets/button1085-p11-200h.png"
            alt="Button1085"
            class="delete-account-pop-up-button"
          />
          <span class="delete-account-pop-up-text"><span>No</span></span>
        </button>
        <button class="delete-account-pop-up-yes-button">
          <img
            src="/assets/playground_assets/button1092-7tf-200h.png"
            alt="Button1092"
            class="delete-account-pop-up-button1"
          />
          <span class="delete-account-pop-up-text2"><span>Yes</span></span>
        </button>
      </button>
      <span class="delete-account-pop-up-text4">
        <span>Delete Account?</span>
      </span>
    </div>
  </div>
</div>
