<div class="adding-new-account-pop-up-container">
  <div class="adding-new-account-pop-up-adding-new-account-pop-up">
    <div class="adding-new-account-pop-up-regis-box">
      <img
        src="/assets/playground_assets/registerboxfull7069-btre-600h.png"
        alt="RegisterBoxFull7069"
        class="adding-new-account-pop-up-register-box-full"
      />
      <img
        src="/assets/playground_assets/exitbutton1084-inqp.svg"
        alt="exitbutton1084"
        class="adding-new-account-pop-up-exitbutton"
      />
    </div>
    <button class="adding-new-account-pop-up-cancel-button">
      <img
        src="/assets/playground_assets/buttoni108-fpcs-200h.png"
        alt="ButtonI108"
        class="adding-new-account-pop-up-button"
      />
      <span class="adding-new-account-pop-up-text"><span>Cancel</span></span>
    </button>
    <div class="adding-new-account-pop-up-user-info">
      <div class="adding-new-account-pop-up-last-name-user-input">
        <div class="adding-new-account-pop-up-last-name-user-input1">
          <img
            src="/assets/playground_assets/buttoni706-1pi4-200h.png"
            alt="ButtonI706"
            class="adding-new-account-pop-up-button1"
          />
          <span class="adding-new-account-pop-up-text02">
            <span>Last Name of User</span>
          </span>
        </div>
      </div>
      <div class="adding-new-account-pop-up-first-name-user-input">
        <div class="adding-new-account-pop-up-first-name-user-input1">
          <img
            src="/assets/playground_assets/buttoni706-k2p-200h.png"
            alt="ButtonI706"
            class="adding-new-account-pop-up-button2"
          />
          <span class="adding-new-account-pop-up-text04">
            <span>First Name of User</span>
          </span>
        </div>
      </div>
      <div class="adding-new-account-pop-up-new-password-input">
        <img
          src="/assets/playground_assets/buttoni706-qci-200h.png"
          alt="ButtonI706"
          class="adding-new-account-pop-up-button3"
        />
        <span class="adding-new-account-pop-up-text06">
          <span>New Password</span>
        </span>
      </div>
      <div class="adding-new-account-pop-up-new-username-input">
        <img
          src="/assets/playground_assets/buttoni706-4imd-200h.png"
          alt="ButtonI706"
          class="adding-new-account-pop-up-button4"
        />
        <span class="adding-new-account-pop-up-text08">
          <span>New Username</span>
        </span>
      </div>
      <div class="adding-new-account-pop-up-email-user-input">
        <div class="adding-new-account-pop-up-email-user-input1">
          <img
            src="/assets/playground_assets/buttoni706-sqn9-200h.png"
            alt="ButtonI706"
            class="adding-new-account-pop-up-button5"
          />
          <span class="adding-new-account-pop-up-text10">
            <span>Email of User</span>
          </span>
        </div>
      </div>
      <div class="adding-new-account-pop-up-employee-i-no-user-input">
        <img
          src="/assets/playground_assets/buttoni706-hoz-200h.png"
          alt="ButtonI706"
          class="adding-new-account-pop-up-button6"
        />
        <span class="adding-new-account-pop-up-text12">
          <span>Employee ID Number of User </span>
        </span>
      </div>
    </div>
    <button class="adding-new-account-pop-up-finish-button">
      <button class="adding-new-account-pop-up-finish-button1">
        <img
          src="/assets/playground_assets/buttoni707-k08-200h.png"
          alt="ButtonI707"
          class="adding-new-account-pop-up-button7"
        />
        <span class="adding-new-account-pop-up-text14">
          <span>Finish</span>
        </span>
      </button>
    </button>
    <span class="adding-new-account-pop-up-text16">
      <span>Adding New Account:</span>
    </span>
  </div>
</div>
