<div class="extendedmenufordevicestatus-container">
  <div class="extendedmenufordevicestatus-extendedmenufordevicestatus">
    <div class="extendedmenufordevicestatus-extendedmenu">
      <img
        src="/assets/playground_assets/extendedmenubar1284-ufhn-500w.png"
        alt="extendedmenubar1284"
        class="extendedmenufordevicestatus-extendedmenubar"
      />
      <img
        src="/assets/playground_assets/pagehighlight1284-942l-200h.png"
        alt="Pagehighlight1284"
        class="extendedmenufordevicestatus-pagehighlight"
      />
      <div class="extendedmenufordevicestatus-updatebutton">
        <img
          src="/assets/playground_assets/updateiconsm1284-0pw-200h.png"
          alt="updateiconsm1284"
          class="extendedmenufordevicestatus-updateiconsm"
        />
        <span class="extendedmenufordevicestatus-text">
          <span>Updates</span>
        </span>
      </div>
      <div class="extendedmenufordevicestatus-statusbutton">
        <span class="extendedmenufordevicestatus-text02">
          <span>Device Status</span>
        </span>
        <img
          src="/assets/playground_assets/statusiconsm1284-wgcd-200h.png"
          alt="statusiconsm1284"
          class="extendedmenufordevicestatus-statusiconsm"
        />
      </div>
      <div class="extendedmenufordevicestatus-devicesbutton">
        <img
          src="/assets/playground_assets/devicesiconsm1284-4v6o-200h.png"
          alt="devicesiconsm1284"
          class="extendedmenufordevicestatus-devicesiconsm"
        />
        <span class="extendedmenufordevicestatus-text04">
          <span>Devices</span>
        </span>
      </div>
      <div class="extendedmenufordevicestatus-accountbutton">
        <img
          src="/assets/playground_assets/accountsiconsm1284-ffun-200h.png"
          alt="accountsiconsm1284"
          class="extendedmenufordevicestatus-accountsiconsm"
        />
        <span class="extendedmenufordevicestatus-text06">
          <span>Accounts</span>
        </span>
      </div>
      <div class="extendedmenufordevicestatus-homebutton">
        <img
          src="/assets/playground_assets/homeiconsm1284-xuxn-200h.png"
          alt="homeiconsm1284"
          class="extendedmenufordevicestatus-homeiconsm"
        />
        <span class="extendedmenufordevicestatus-text08">
          <span>Home</span>
        </span>
      </div>
      <span class="extendedmenufordevicestatus-text10">
        <span>IoTDevices</span>
      </span>
    </div>
    <div class="extendedmenufordevicestatus-logout">
      <img
        src="/assets/playground_assets/logoutbuttoni169-ye-200h.png"
        alt="LogoutButtonI169"
        class="extendedmenufordevicestatus-logout-button"
      />
      <span class="extendedmenufordevicestatus-text12">
        <span>Logout</span>
      </span>
    </div>
  </div>
</div>
