<div class="editing-accounts-container">
  <div class="editing-accounts-editing-accounts">
    <div class="editing-accounts-user3">
      <div class="editing-accounts-editbutton">
        <span class="editing-accounts-text"><span>Edit Account</span></span>
      </div>
      <img
        src="/assets/playground_assets/userbg31052-e4k-400h.png"
        alt="userbg31052"
        class="editing-accounts-userbg3"
      />
      <img
        src="/assets/playground_assets/user31052-v2exm-400h.png"
        alt="user31052"
        class="editing-accounts-user31"
      />
      <span class="editing-accounts-text02"><span>User 3</span></span>
    </div>
    <div class="editing-accounts-user2">
      <div class="editing-accounts-editbutton1">
        <span class="editing-accounts-text04"><span>Edit Account</span></span>
      </div>
      <img
        src="/assets/playground_assets/userbg21052-fycs-400h.png"
        alt="userbg21052"
        class="editing-accounts-userbg2"
      />
      <img
        src="/assets/playground_assets/user21052-d6fm-400h.png"
        alt="user21052"
        class="editing-accounts-user21"
      />
      <span class="editing-accounts-text06"><span>User 2</span></span>
    </div>
    <div class="editing-accounts-user1">
      <div class="editing-accounts-editbutton2">
        <span class="editing-accounts-text08"><span>Edit Account</span></span>
      </div>
      <img
        src="/assets/playground_assets/userbg11052-gj2-400h.png"
        alt="userbg11052"
        class="editing-accounts-userbg1"
      />
      <img
        src="/assets/playground_assets/user11052-5pda-400h.png"
        alt="user11052"
        class="editing-accounts-user11"
      />
      <span class="editing-accounts-text10"><span>User 1</span></span>
    </div>
    <div class="editing-accounts-menu">
      <img
        src="/assets/playground_assets/rectangle27081-rm8.svg"
        alt="Rectangle27081"
        class="editing-accounts-rectangle2"
      />
      <img
        src="/assets/playground_assets/menu7081-1bhm-200h.png"
        alt="Menu7081"
        class="editing-accounts-menu1"
      />
      <span class="editing-accounts-text12"><span>Editing Accounts</span></span>
      <span class="editing-accounts-text14"><span>J. Doe</span></span>
      <div class="editing-accounts-hamburgermenu">
        <img
          src="/assets/playground_assets/line57082-ohaf.svg"
          alt="Line57082"
          class="editing-accounts-line5"
        />
        <img
          src="/assets/playground_assets/line47082-k5wm.svg"
          alt="Line47082"
          class="editing-accounts-line4"
        />
        <img
          src="/assets/playground_assets/line37082-vl8m.svg"
          alt="Line37082"
          class="editing-accounts-line3"
        />
      </div>
    </div>
    <img
      src="/assets/playground_assets/sidescroll1092-bqs.svg"
      alt="sidescroll1092"
      class="editing-accounts-sidescroll"
    />
  </div>
</div>
