<div class="accounts-container">
  <div class="accounts-accounts">
    <div class="accounts-account-management">
      <div class="accounts-delete-accs">
        <div class="accounts-delete-log-statuses">
          <img
            src="/assets/playground_assets/buttoni705-beys-200h.png"
            alt="ButtonI705"
            class="accounts-button"
          />
          <span class="accounts-text"><span>Delete Account(s)</span></span>
        </div>
      </div>
      <div class="accounts-editing-acc-details">
        <div class="accounts-view-log-statuses">
          <img
            src="/assets/playground_assets/buttoni705-boki-200h.png"
            alt="ButtonI705"
            class="accounts-button1"
          />
          <span class="accounts-text02">
            <span>Editing Account Details</span>
          </span>
        </div>
      </div>
      <div class="accounts-adding-new-acc">
        <img
          src="/assets/playground_assets/buttoni705-m6l2-200h.png"
          alt="ButtonI705"
          class="accounts-button2"
        />
        <span class="accounts-text04"><span>Adding New Account(s)</span></span>
      </div>
    </div>
    <span class="accounts-text06"><span>Account Management :</span></span>
    <div class="accounts-menu">
      <img
        src="/assets/playground_assets/rectangle22728-16dx.svg"
        alt="Rectangle22728"
        class="accounts-rectangle2"
      />
      <img
        src="/assets/playground_assets/menu231-ismn-200h.png"
        alt="Menu231"
        class="accounts-menu1"
      />
      <span class="accounts-text08"><span>Accounts</span></span>
      <span class="accounts-text10"><span>J. Doe</span></span>
      <div class="accounts-hamburgermenu">
        <img
          src="/assets/playground_assets/line52333-gw1f.svg"
          alt="Line52333"
          class="accounts-line5"
        />
        <img
          src="/assets/playground_assets/line42333-1qzd.svg"
          alt="Line42333"
          class="accounts-line4"
        />
        <img
          src="/assets/playground_assets/line32332-ezfu.svg"
          alt="Line32332"
          class="accounts-line3"
        />
      </div>
    </div>
  </div>
</div>
