<div class="delete-account-success-pop-up-container">
  <div class="delete-account-success-pop-up-delete-account-success-pop-up">
    <div class="delete-account-success-pop-up-delete-account-pop-up">
      <button class="delete-account-success-pop-up-buttons"></button>
      <span class="delete-account-success-pop-up-text">
        <span>Account Deleted.</span>
      </span>
    </div>
    <button class="delete-account-success-pop-up-o-button">
      <img
        src="/assets/playground_assets/button1085-o7tj-200h.png"
        alt="Button1085"
        class="delete-account-success-pop-up-button"
      />
      <button class="delete-account-success-pop-up-o-button1"></button>
      <span class="delete-account-success-pop-up-text2"><span>OK</span></span>
    </button>
  </div>
</div>
