<div class="home-page-admin-container">
  <div class="home-page-admin-home-page-admin">
    <div class="home-page-admin-logout">
      <img
        src="/assets/playground_assets/logoutbutton483-ts1-200h.png"
        alt="LogoutButton483"
        class="home-page-admin-logout-button"
      />
      <span class="home-page-admin-text"><span>Logout</span></span>
    </div>
    <div class="home-page-admin-update">
      <img
        src="/assets/playground_assets/updatei478-4k2-400h.png"
        alt="updateI478"
        class="home-page-admin-update1"
      />
      <img
        src="/assets/playground_assets/updateiconi478-ktvji-400h.png"
        alt="updateiconI478"
        class="home-page-admin-updateicon"
      />
      <span class="home-page-admin-text02"><span>Update</span></span>
    </div>
    <div class="home-page-admin-status">
      <span class="home-page-admin-text04"><span>Device Status</span></span>
      <img
        src="/assets/playground_assets/statusi479-ucd8-400h.png"
        alt="statusI479"
        class="home-page-admin-status1"
      />
      <img
        src="/assets/playground_assets/statusiconi479-njpd-400w.png"
        alt="statusiconI479"
        class="home-page-admin-statusicon"
      />
    </div>
    <div class="home-page-admin-devices">
      <span class="home-page-admin-text06"><span>Devices</span></span>
      <img
        src="/assets/playground_assets/devicesi480-pdqt.svg"
        alt="devicesI480"
        class="home-page-admin-devices1"
      />
      <img
        src="/assets/playground_assets/devicesiconi480-5e8-400h.png"
        alt="devicesiconI480"
        class="home-page-admin-devicesicon"
      />
    </div>
    <div class="home-page-admin-accounts">
      <img
        src="/assets/playground_assets/accountsi481-t6f-400h.png"
        alt="accountsI481"
        class="home-page-admin-accounts1"
      />
      <img
        src="/assets/playground_assets/accountsiconi481-151j-400w.png"
        alt="accountsiconI481"
        class="home-page-admin-accountsicon"
      />
      <span class="home-page-admin-text08"><span>Accounts</span></span>
    </div>
    <span class="home-page-admin-text10"><span>Administrator</span></span>
    <span class="home-page-admin-text12"><span>Hello, J. Doe!</span></span>
  </div>
</div>
