<div class="devices-container">
  <div class="devices-devices">
    <span class="devices-text"><span>Devices :</span></span>
    <span class="devices-text02"><span>Devices :</span></span>
    <span class="devices-text04"><span>Cant find device?</span></span>
    <div class="devices-backto-home"></div>
    <span class="devices-text06"><span>Control Existing Device(s)</span></span>
    <span class="devices-text08"><span>Unpair Device(s)</span></span>
    <span class="devices-text10"><span>Pair New Device</span></span>
    <img
      src="/assets/playground_assets/username1554-a3mp-200h.png"
      alt="username1554"
      class="devices-username"
    />
    <div class="devices-c-ds">
      <div class="devices-list-box-main">
        <img
          src="/assets/playground_assets/chevroni155-v7vn.svg"
          alt="ChevronI155"
          class="devices-chevron"
        />
        <div class="devices-placeholder-text">
          <span class="devices-text12"><span>Existing Device(s)</span></span>
        </div>
      </div>
      <div class="devices-dropdown-list">
        <div class="devices-item1">
          <span class="devices-text14"><span>Businessman</span></span>
        </div>
        <div class="devices-item2">
          <span class="devices-text16"><span>Employee</span></span>
        </div>
        <div class="devices-item3">
          <span class="devices-text18"><span>Freelancer</span></span>
        </div>
        <div class="devices-item4">
          <span class="devices-text20"><span>Retired</span></span>
        </div>
      </div>
      <div class="devices-list-boxtitle"></div>
    </div>
    <img
      src="/assets/playground_assets/line11558-ivw.svg"
      alt="Line11558"
      class="devices-line1"
    />
    <img
      src="/assets/playground_assets/line21558-m9rl.svg"
      alt="Line21558"
      class="devices-line2"
    />
    <div class="devices-menu">
      <img
        src="/assets/playground_assets/lowerframe2728-myjv.svg"
        alt="lowerframe2728"
        class="devices-lowerframe"
      />
      <img
        src="/assets/playground_assets/menu2727-tzf-200h.png"
        alt="Menu2727"
        class="devices-menu1"
      />
      <span class="devices-text22"><span>Devices</span></span>
      <span class="devices-text24"><span>J. De la Cruz</span></span>
      <div class="devices-hamburgermenu">
        <img
          src="/assets/playground_assets/line52727-eluh.svg"
          alt="Line52727"
          class="devices-line5"
        />
        <img
          src="/assets/playground_assets/line42728-11e.svg"
          alt="Line42728"
          class="devices-line4"
        />
        <img
          src="/assets/playground_assets/line32728-a01a.svg"
          alt="Line32728"
          class="devices-line3"
        />
      </div>
    </div>
    <div class="devices-c-ds1">
      <div class="devices-list-box-main1">
        <img
          src="/assets/playground_assets/chevroni302-qmjn.svg"
          alt="ChevronI302"
          class="devices-chevron1"
        />
        <div class="devices-placeholder-text1">
          <span class="devices-text26"><span>Unpair Device(s)</span></span>
        </div>
      </div>
      <div class="devices-dropdown-list1">
        <div class="devices-item11">
          <span class="devices-text28"><span>Businessman</span></span>
        </div>
        <div class="devices-item21">
          <span class="devices-text30"><span>Employee</span></span>
        </div>
        <div class="devices-item31">
          <span class="devices-text32"><span>Freelancer</span></span>
        </div>
        <div class="devices-item41">
          <span class="devices-text34"><span>Retired</span></span>
        </div>
      </div>
      <div class="devices-list-boxtitle1"></div>
    </div>
  </div>
</div>
