<div class="extendedmenufordevices-container">
  <div class="extendedmenufordevices-extendedmenufordevices">
    <div class="extendedmenufordevices-extendedmenu">
      <img
        src="/assets/playground_assets/extendedmenubar1285-uir8-500w.png"
        alt="extendedmenubar1285"
        class="extendedmenufordevices-extendedmenubar"
      />
      <img
        src="/assets/playground_assets/pagehighlight1285-ftds-200h.png"
        alt="Pagehighlight1285"
        class="extendedmenufordevices-pagehighlight"
      />
      <div class="extendedmenufordevices-updatebutton">
        <img
          src="/assets/playground_assets/updateiconsm1285-59ea-200h.png"
          alt="updateiconsm1285"
          class="extendedmenufordevices-updateiconsm"
        />
        <span class="extendedmenufordevices-text"><span>Updates</span></span>
      </div>
      <div class="extendedmenufordevices-statusbutton">
        <span class="extendedmenufordevices-text02">
          <span>Device Status</span>
        </span>
        <img
          src="/assets/playground_assets/statusiconsm1285-5x2h-200h.png"
          alt="statusiconsm1285"
          class="extendedmenufordevices-statusiconsm"
        />
      </div>
      <div class="extendedmenufordevices-devicesbutton">
        <img
          src="/assets/playground_assets/devicesiconsm1285-ht3j-200h.png"
          alt="devicesiconsm1285"
          class="extendedmenufordevices-devicesiconsm"
        />
        <span class="extendedmenufordevices-text04"><span>Devices</span></span>
      </div>
      <div class="extendedmenufordevices-accountbutton">
        <img
          src="/assets/playground_assets/accountsiconsm1285-pcc3-200h.png"
          alt="accountsiconsm1285"
          class="extendedmenufordevices-accountsiconsm"
        />
        <span class="extendedmenufordevices-text06"><span>Accounts</span></span>
      </div>
      <div class="extendedmenufordevices-homebutton">
        <img
          src="/assets/playground_assets/homeiconsm1285-ljk-200h.png"
          alt="homeiconsm1285"
          class="extendedmenufordevices-homeiconsm"
        />
        <span class="extendedmenufordevices-text08"><span>Home</span></span>
      </div>
      <span class="extendedmenufordevices-text10"><span>IoTDevices</span></span>
    </div>
    <div class="extendedmenufordevices-logout">
      <img
        src="/assets/playground_assets/logoutbuttoni156-l95-200h.png"
        alt="LogoutButtonI156"
        class="extendedmenufordevices-logout-button"
      />
      <span class="extendedmenufordevices-text12"><span>Logout</span></span>
    </div>
  </div>
</div>
