<div class="home-page-user-container">
  <div class="home-page-user-home-page-user">
    <div class="home-page-user-logout">
      <img
        src="/assets/playground_assets/logoutbutton359-z9zh-200h.png"
        alt="LogoutButton359"
        class="home-page-user-logout-button"
      />
      <span class="home-page-user-text"><span>Logout</span></span>
    </div>
    <div class="home-page-user-update">
      <img
        src="/assets/playground_assets/update233-xyy-400h.png"
        alt="update233"
        class="home-page-user-update1"
      />
      <img
        src="/assets/playground_assets/updateicon464-iy9-400h.png"
        alt="updateicon464"
        class="home-page-user-updateicon"
      />
      <span class="home-page-user-text02"><span>Update</span></span>
    </div>
    <div class="home-page-user-status">
      <span class="home-page-user-text04"><span>Device Status</span></span>
      <img
        src="/assets/playground_assets/status235-xa8e-400h.png"
        alt="status235"
        class="home-page-user-status1"
      />
      <img
        src="/assets/playground_assets/statusicon465-zl0p-400w.png"
        alt="statusicon465"
        class="home-page-user-statusicon"
      />
    </div>
    <div class="home-page-user-devices">
      <span class="home-page-user-text06"><span>Devices</span></span>
      <img
        src="/assets/playground_assets/devices234-cyn5.svg"
        alt="devices234"
        class="home-page-user-devices1"
      />
      <img
        src="/assets/playground_assets/devicesicon466-by9j-400h.png"
        alt="devicesicon466"
        class="home-page-user-devicesicon"
      />
    </div>
    <div class="home-page-user-accounts">
      <img
        src="/assets/playground_assets/accounts232-hhoc-400h.png"
        alt="accounts232"
        class="home-page-user-accounts1"
      />
      <img
        src="/assets/playground_assets/accountsicon467-iq62v-400w.png"
        alt="accountsicon467"
        class="home-page-user-accountsicon"
      />
      <span class="home-page-user-text08"><span>Accounts</span></span>
    </div>
    <span class="home-page-user-text10"><span>User</span></span>
    <span class="home-page-user-text12">
      <span>Hello, J. De la Cruz!</span>
    </span>
  </div>
</div>
