<div class="new-account-pop-up-container">
  <div class="new-account-pop-up-new-account-pop-up">
    <div class="new-account-pop-up-register-success-pop-up">
      <button class="new-account-pop-up-o-button">
        <button class="new-account-pop-up-o-button1">
          <button class="new-account-pop-up-o-button2">
            <img
              src="/assets/playground_assets/buttoni707-fktp-200h.png"
              alt="ButtonI707"
              class="new-account-pop-up-button"
            />
            <span class="new-account-pop-up-text"><span>OK</span></span>
          </button>
        </button>
      </button>
      <span class="new-account-pop-up-text2">
        <span>Register Success!</span>
      </span>
    </div>
  </div>
</div>
