<div class="extendedmenuforaccounts-container">
  <div class="extendedmenuforaccounts-extendedmenuforaccounts">
    <div class="extendedmenuforaccounts-extendedmenu">
      <img
        src="/assets/playground_assets/extendedmenubar2346-xwnr-500w.png"
        alt="extendedmenubar2346"
        class="extendedmenuforaccounts-extendedmenubar"
      />
      <div class="extendedmenuforaccounts-updatebutton">
        <img
          src="/assets/playground_assets/updateiconsm8830-x1vg-200h.png"
          alt="updateiconsm8830"
          class="extendedmenuforaccounts-updateiconsm"
        />
        <span class="extendedmenuforaccounts-text"><span>Updates</span></span>
      </div>
      <div class="extendedmenuforaccounts-statusbutton">
        <span class="extendedmenuforaccounts-text02">
          <span>Device Status</span>
        </span>
        <img
          src="/assets/playground_assets/statusiconsm8830-uo0n-200h.png"
          alt="statusiconsm8830"
          class="extendedmenuforaccounts-statusiconsm"
        />
      </div>
      <div class="extendedmenuforaccounts-devicesbutton">
        <img
          src="/assets/playground_assets/devicesiconsm8830-cmv-200h.png"
          alt="devicesiconsm8830"
          class="extendedmenuforaccounts-devicesiconsm"
        />
        <span class="extendedmenuforaccounts-text04"><span>Devices</span></span>
      </div>
      <img
        src="/assets/playground_assets/pagehighlight8832-4c0r-200h.png"
        alt="Pagehighlight8832"
        class="extendedmenuforaccounts-pagehighlight"
      />
      <div class="extendedmenuforaccounts-accountbutton">
        <img
          src="/assets/playground_assets/accountsiconsm8831-8b57-200h.png"
          alt="accountsiconsm8831"
          class="extendedmenuforaccounts-accountsiconsm"
        />
        <span class="extendedmenuforaccounts-text06">
          <span>Accounts</span>
        </span>
      </div>
      <div class="extendedmenuforaccounts-homebutton">
        <img
          src="/assets/playground_assets/homeiconsm8830-o38-200h.png"
          alt="homeiconsm8830"
          class="extendedmenuforaccounts-homeiconsm"
        />
        <span class="extendedmenuforaccounts-text08"><span>Home</span></span>
      </div>
      <span class="extendedmenuforaccounts-text10">
        <span>IoTDevices</span>
      </span>
    </div>
    <div class="extendedmenuforaccounts-logout">
      <img
        src="/assets/playground_assets/logoutbuttoni883-qa1u-200h.png"
        alt="LogoutButtonI883"
        class="extendedmenuforaccounts-logout-button"
      />
      <span class="extendedmenuforaccounts-text12"><span>Logout</span></span>
    </div>
  </div>
</div>
